@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student: @ViewData["Student"].</p>
<address>
    <strong> More Information: <a href="http://www.google.com">Building</a></strong>
</address>
<p>@ViewData["email"]</p>
